<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <servers>
        <server>
            <id>snapshots</id>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>releases</id>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
    <profile>
        <id>release</id>
        <repositories>
        <repository>
            <snapshots>
            <enabled>false</enabled>
            </snapshots>
            <releases>
            <updatePolicy>never</updatePolicy>
            </releases>
            <id>central</id>
            <name>libs-release</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/libs-release</url>
        </repository>
        <repository>
            <snapshots>
            <enabled>false</enabled>
            </snapshots>
            <releases>
            <updatePolicy>never</updatePolicy>
            </releases>
            <id>clojars</id>
            <name>clojars</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/clojars</url>
        </repository>
        </repositories>
        <pluginRepositories>
        <pluginRepository>
            <snapshots>
            <enabled>false</enabled>
            </snapshots>
            <releases>
            <updatePolicy>never</updatePolicy>
            </releases>
            <id>central</id>
            <name>plugins-release</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/plugins-release</url>
        </pluginRepository>
        </pluginRepositories>
    </profile>
    <profile>
        <id>upstream</id>
        <repositories>
        <repository>
            <id>upstream</id>
            <url>${env.Jenkins.Repository}</url>
            <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            </releases>
            <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            </snapshots>
        </repository>
        </repositories>
        <pluginRepositories>
        <pluginRepository>
            <id>upstream</id>
            <url>${env.Jenkins.Repository}</url>
            <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            </releases>
            <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            </snapshots>
        </pluginRepository>
        </pluginRepositories>
    </profile>
    <profile>
        <id>compliant-profile</id>
        <activation>
        <property>
            <name>!env.MAVEN_PROFILE</name>
        </property>
        </activation>
        <properties>
            <altSnapshotDeploymentRepository>snapshots::https://artifactory.oci.oraclecorp.com/${env.REPO_SNAPSHOT_NAME}</altSnapshotDeploymentRepository>
            <altReleaseDeploymentRepository>releases::https://artifactory.oci.oraclecorp.com/${env.REPO_RELEASE_NAME}</altReleaseDeploymentRepository>
        </properties>
        <repositories>
        <repository>
            <snapshots>
            <enabled>false</enabled>
            </snapshots>
            <releases>
            <updatePolicy>never</updatePolicy>
            </releases>
            <id>central</id>
            <name>libs-release</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/libs-release</url>
        </repository>
        <repository>
            <snapshots>
            <updatePolicy>always</updatePolicy>
            </snapshots>
            <releases>
            <updatePolicy>never</updatePolicy>
            </releases>
            <id>snapshots</id>
            <name>libs-snapshot</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/libs-snapshot</url>
        </repository>
        </repositories>
        <pluginRepositories>
        <pluginRepository>
            <snapshots>
            <enabled>false</enabled>
            </snapshots>
            <id>central</id>
            <name>plugins-release</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/libs-release</url>
        </pluginRepository>
        <pluginRepository>
            <snapshots/>
            <id>snapshots</id>
            <name>plugins-snapshot</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/libs-snapshot</url>
        </pluginRepository>
        </pluginRepositories>
    </profile>
    <profile>
        <id>non-compliant-profile</id>
        <repositories>
        <repository>
            <snapshots>
            <enabled>false</enabled>
            </snapshots>
            <releases>
            <updatePolicy>never</updatePolicy>
            </releases>
            <id>central</id>
            <name>libs-release</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/libs-release</url>
        </repository>
        <repository>
            <snapshots>
            <updatePolicy>always</updatePolicy>
            </snapshots>
            <releases>
            <updatePolicy>never</updatePolicy>
            </releases>
            <id>snapshots</id>
            <name>libs-snapshot</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/libs-snapshot</url>
        </repository>
        <repository>
            <snapshots>
            <updatePolicy>always</updatePolicy>
            </snapshots>
            <id>non-compliant</id>
            <name>non-compliant-maven-upstream-virtual</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/non-compliant-maven-upstream-virtual</url>
        </repository>
        </repositories>
        <pluginRepositories>
        <pluginRepository>
            <snapshots>
            <enabled>false</enabled>
            </snapshots>
            <id>central</id>
            <name>plugins-release</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/libs-release</url>
        </pluginRepository>
        <pluginRepository>
            <snapshots/>
            <id>snapshots</id>
            <name>plugins-snapshot</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/libs-snapshot</url>
        </pluginRepository>
        <pluginRepository>
            <snapshots/>
            <id>non-compliant</id>
            <name>plugins-non-compliant-maven-upstream-virtual</name>
            <url>https://artifactory-builds.oci.oraclecorp.com/non-compliant-maven-upstream-virtual</url>
        </pluginRepository>
        </pluginRepositories>
    </profile>
    </profiles>

    <activeProfiles>
    <activeProfile>${env.MAVEN_PROFILE}</activeProfile>
    </activeProfiles>
</settings>